body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  flex-direction: column;
}
h1 {
  text-align: center;
  color: #fff;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 30vw;
  background-color: #fff;
  border-radius: 10px 50px;
  border: 3px solid teal;
}
.formField {
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
  background-color: lightgray;
  border: none;
  outline: none;
  font-family: cursive;
  border-radius: 10px;
}
button {
  padding: 15px;
  margin: 10px;
  background-color: teal;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-family: cursive;
}
button:hover {
  cursor: pointer;
}

.submit-message {
  background-color: purple;
  padding: 15px;
  margin: 15px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
span {
  margin: 0 15px;
  color: red;
border-bottom: 1px solid red;
}
